

#tetoslide1{


   

    background-origin: 100%;
     font-size: 50px;
 
    font-family: 'Roboto', sans-serif;

    font-family: 'Noto Serif', serif;

    font-family: 'Fjalla One', sans-serif;

    font-family: 'Monoton', cursive;

    font-family: 'Playball', cursive;
  color: #A72121;

}
#tetoslide2{
     font-size: 50px;
    color: #A72121;

    font-family: 'Roboto', sans-serif;

    font-family: 'Noto Serif', serif;

    font-family: 'Fjalla One', sans-serif;

    font-family: 'Monoton', cursive;

    font-family: 'Lobster Two', cursive;

    font-family: 'Shrikhand', cursive;

    font-family: 'Charmonman', cursive;

    font-family: 'Roboto Slab', serif;

    font-family: 'Monsieur La Doulaise', cursive;

    font-family: 'Bilbo', cursive;





}